name: CI

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  verify:
    name: Verify Project Structure
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      
    - name: Make script executable
      run: chmod +x ci/run_and_check.sh
      
    - name: Run verification script
      run: ./ci/run_and_check.sh
